<div class="center container">
<div class="center jumbotron">
<h1>Willkommen zu deinem Handbuch</h1>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="center container">
	<%= link_to "xxxx".html_safe, contacts_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

</div>
