<h1>Home</h1>
<p>Edit Users in -> <u><%= link_to "Kontakte bearbeiten", contacts_path %></u></p>
<p>New Institutions in -> <u><%= link_to "Institutionen anlegen", new_institution_path %></u></p>
<p>New Occasion in -> <u><%= link_to "Anlass anlegen", new_occasion_path %></u></p>