<div class="center container">
	<div class="center jumbotron">

	<h1>Nutzerin</h1>

<%= render 'form' %>

<p>&nbsp;</p>

<%= link_to 'bearbeiten', edit_user_path(@user), :class=>"btn btn-default btn-sm" %>
<%= link_to "Alle Nutzerinnen".html_safe, users_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>

</div>
</div>