<div class="center jumbotron">

  <h1>Userinnen</h1>

  <p>&nbsp;<p>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |users| %>
        <tr>
          <td><%= users.username %></td>
          <td><%= link_to "Bearbeiten", edit_user_path(users) %></td>
          <td><%= link_to "Löschen", new_user_path(users), method: :delete, data: { confirm: "Willst du diese Userin löschen?" } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "Neue Userin anlegen".html_safe, 'user#new', :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>
  </div>
