<div class="center jumbotron">
<h1>New contact</h1>

<%= render 'form' %>

<%= link_to "Alle Kontakte".html_safe, contacts_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>
</div>