<div class="center container">
<div class="center jumbotron">
<h1>Anlass bearbeiten</h1>

<p>&nbsp;</p>

<%= render 'form' %>

<p>&nbsp;</p>

<%= link_to "Anzeigen".html_safe, @occasion, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>
<%= link_to "Alle Anl&auml;sse".html_safe, occasions_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>
</div>
</div>