<div class="center container">
<div class="center jumbotron">

<p id="notice"><%= notice %></p>

<p>
  <strong>Bezeichnung:</strong>
  <%= @occasion.name %>
</p>

<p>&nbsp;</p>

<%= link_to "bearbeiten".html_safe, edit_occasion_path(@occasion), :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>
<%= link_to "Alle Anl&auml;sse".html_safe, occasions_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>

</div>
</div>