<footer>
    <div class="container">
		
		<div id="fussi" class="right">
			<ul class="nav navbar-nav navbar-fixed-bottom right">
				<hr>
				<li><%= link_to "Handbuch", root_path %></li>
				<li><%= link_to "Link", root_path %></li>
				<li><%= link_to "Link", root_path %></li>
				<br> &nbsp;<br>
			</ul>
		</div>
  	</div></nav>
 </footer>










    
